@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rowdies&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: burlywood;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(79, 14, 14);
    border: 1px solid burlywood;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url("../assets/temple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.cursor{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    z-index:99;
}
.cursor img{
    transform: rotateZ(-30deg);
}
:root{
    --font1: 'Rowdies', sans-serif;
    --font2: 'Josefin Sans', sans-serif;
}

.main-container{
    width: 100%;
}
.main-container .site-top{
    opacity: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: burlywood;
    font-family: var(--font1);
    padding: 1rem;
    z-index: 2;
    font-size: 2vw;
}
#menu{
    cursor: pointer;
    width: 83px;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(79, 14, 14);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    transform: translateX(100%);
}
.svg-container svg{
    cursor: pointer;
}
#navbar .list{
    list-style: none;
}
#navbar .list li a{
    color: burlywood;
    text-decoration: none;
    font-size: 6vw;
    font-family: var(--font1);
    transition: all 0.5s;
}
#navbar .list li a:hover{
    letter-spacing: 10px;
}

#home{
    color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
}
#home h1{
    font-family: var(--font1);
    font-size: 17vw;
}
#home .text{
    width: 100%;
    font-family: var(--font2);
    text-align: start;
    display: grid;
    grid-template-columns: 40% 60%;
}
#home .text p{
    grid-column-start: 2;
    width: 90%;
    padding: 0 1rem;
    border-left: 2px solid burlywood;
    line-height: 25px;
    margin-top: 1rem;
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    #home .text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

#nom{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 0rem;
    width: 100%;
    background-color: rgb(88, 26, 26);
    overflow: hidden;
}
#nom .head{
    position: relative;
    background-color: burlywood;
    color: rgb(88, 26, 26);
    font-size: 6vw;
    font-family: var(--font1);
    width: 200vw;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nom .head:nth-child(1){
    transform: translateX(-20%) rotateZ(2deg);
}
#nom .head:nth-child(2){
    transform: rotateZ(-2deg);
    transform-origin:left;
    border: 2px solid rgb(88, 26, 26);
}
#nom .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2rem;
    color: burlywood;
    font-family: var(--font2);
    width: 100%;
    padding: 2rem 0.5rem;
}
#nom .content p{
    width: 70%;
    line-height: 25px;
    text-align: justify;
    padding: 1rem;
}
#nom .content p span{
    font-size: 4rem;
    color: rgb(142, 106, 59);
}
@media screen and (max-width: 1000px) {
    #nom .content p{
        width: 100%;
    }
}

#history{
    color: burlywood;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    overflow: hidden;
}
@media screen and (max-width: 1000px) {
    #history{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
#history .head{
    width: 100%;
    text-align: center;
    grid-column-start: 2;
    background-color: burlywood;
    color: rgb(79, 14, 14);
}

#history .head .title{
    font-size: 7vw;
    font-family: var(--font1);
}
#history .text{
    grid-column-start: 2;
    width: 100%;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 25px;
    font-family: var(--font2);
    background-color: rgb(79, 14, 14);
    padding: 2rem 0;
}

#history div p{
    width: 90%;
    text-align: justify;
    line-height: 30px;
}
#history div .list{
    list-style: none;
    width: 90%;
}

#influence{
    overflow: hidden;
    background-color: burlywood;
    color: rgb(79, 14, 14);
    font-family: var(--font2);
    padding: 2rem 0;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#influence .head{
    width: 100%;
    font-size: 6vw;
    font-family: var(--font1);
    padding: 3rem 2rem;
    background-color: rgb(79, 14, 14);
    color: burlywood;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#influence .head h1:nth-child(1){
    transform: translateY(-700%);
}
#influence .head h1:nth-child(2){
    transform: translateY(700%);
}

#influence .para{
    text-align: justify;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}
#influence .para p{
    width: 50%;
    padding: 2rem;
}

#influence .points{
    width: 80%;
    margin: auto;
    text-align: left;
}

#influence .points h1{
    font-family: var(--font1);
    padding: 1rem;
    margin-top: 2rem;
}
#influence .points p{
    padding: 0.5rem;
    text-align: justify;
    width: 60%;
}

@media screen and (max-width: 1000px){
    #influence .head h1:nth-child(2){
        display: none;
    }
    #influence .para p{
        width: 100%;
    }
    #influence .points p{
        width: 100%;
    }
}

#writing{
    overflow: hidden;
    font-family: var(--font2);
    background-color: burlywood;
    color: rgb(79, 14, 14);
}

#writing .head{
    text-align: right;
    font-size: 6vw;
    font-family: var(--font1);
    padding: 0.5rem 2rem;
}

#writing .para{
    text-align: justify;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}
#writing .para p{
    width: 50%;
    padding: 2rem;
}
#writing .points{
    width: 80%;
    margin: auto;
}

#writing .points h1{
    font-family: var(--font1);
    padding: 1rem;
    margin-top: 2rem;
}
#writing .points p{
    padding: 0.5rem;
    text-align: justify;
    width: 50%;
    line-height: 25px;
}
@media screen and (max-width: 1000px) {
    #writing .head{
        text-align: center;
    }
    #writing .para p{
        width: 100%;
    }
    #writing .points p{
        width: 100%;
    }
}


#mod-era{
    overflow: hidden;
    font-family: var(--font2);
    background-color: rgb(79, 14, 14);
    color: burlywood;
}

#mod-era .head{
    text-align: right;
    font-size: 6vw;
    font-family: var(--font1);
    padding: 0.5rem 2rem;
}

#mod-era .para{
    text-align: justify;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}
#mod-era .para p{
    width: 50%;
    padding: 2rem;
}
#mod-era .points{
    width: 80%;
    margin: auto;
}

#mod-era .points h1{
    font-family: var(--font1);
    padding: 1rem;
    margin-top: 2rem;
}
#mod-era .points p{
    padding: 0.5rem;
    text-align: justify;
    width: 50%;
    line-height: 25px;
}
@media screen and (max-width: 1000px) {
    #mod-era .head{
        text-align: center;
    }
    #mod-era .para p{
        width: 100%;
    }
    #mod-era .points p{
        width: 100%;
    }
}

footer{
    padding: 2rem;
    background-color: burlywood;
    color: rgb(79, 14, 14);
    text-align: center;
    font-family: var(--font2);
}

